.account-page-container{
display: grid;
grid-template-columns: 1000px;
place-content: center;
margin-top: 15px;
}

.two-column-grid-account{
display: grid;
grid-template-columns: 1fr 1fr;
}

/* Top of Account page */

h3{
    font-size: 25px;
    font-weight: 400;
}

.title-account{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-top-page-account{
    border-bottom: solid 2px black;
    margin-bottom: 30px;
}