.account-page-container{
display: grid;
grid-template-rows: 100px auto;
grid-template-columns: 1000px;
place-content: center;
margin-top: 15px;
}

.two-column-grid-account{
display: grid;
grid-template-columns: 1fr 1fr;
}

/* Top of Account page */

h3{
    font-size: 25px;
    font-weight: 400;
}

.title-account{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-top-page-account{
    border-bottom: solid 2px black;
    margin-bottom: 30px;
}

.form-container{
    border: solid 2px black;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    height: min-content;
}

/*  Login form */

.login-form-grid{
    display: grid;
    grid-auto-flow: row;
    margin: 20px;
    place-content: center;

}
.input-text{
    width: 200px;
    display: grid;
}