*{
    margin: 0;
    padding:0
}
body{
    background-color: #d7d7d7;
}
h1{
    color:#00A8E8;
    font-size: 45px;
}
li{
    list-style: none;
}
.grid-auto{
    display: grid;
    grid-auto-flow: column;
    margin-left: 500px;
    margin-right: 500px;
}

.nav-container{
    background-color: #00171F;
    border-bottom: solid 5px #00A8E8 ;
}

.nav-btn{
    color: white;
    background-color: #00171F;
    font-size: 17px;
    margin: 20px;
}
.nav-btn:hover {
    color: #00A8E8 ;
}